.places__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.places__paragraph:nth-last-child(2) {
  margin-bottom: 25px;
}
