.intro__list {
    margin-top: 34px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    list-style-position: inside;
    box-sizing: border-box;
    padding: 0;
    width: 288px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .intro {
        width: 720px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 690px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        width: 690px;
    }
}