.intro__list {
  margin-top: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
  padding: 0;
}
