.cover__subtitle {
  display: flex;
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  top: 119px;
  left: calc((100vw - 288px) / 2);
  color: #ffffff;
  z-index: 1000;
  width: 288px;
  height: 48px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    height: 66px;
    top: 299px;
    left: calc((100vw - 360px) / 2);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    height: 66px;
    top: 379px;
    left: calc((100vw - 360px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .cover__subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    height: 66px;
    top: 429px;
    left: calc((100vw - 360px) / 2);
  }
}
