.footer__link {
    text-decoration: none;
    color: #fff;
    position: relative;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 32px;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 0px;
    }
}