.lead__title {
    display: flex;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: auto;
    max-width: 288px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        margin: auto;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        margin: auto;
        max-width: 720px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
        margin: auto;
        max-width: 720px;
    }
}