.header__language-link {
    margin-left: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    text-align: right;
    color: #ffffff;
}