.lead__image {
    margin-top: 40px;
    max-width: 320px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image {
        width: 100%;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image {
        margin-left: auto;
        margin-right: auto;
        max-width: 928px;
        margin-top: 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin-left: auto;
        margin-right: auto;
        max-width: 984px;
        margin-top: 64px;
    }
}