.intro {
    display: flex;
    margin: 0;
    flex-direction: column;
    margin-top: 64px;
    justify-items: start;
    align-content: center;
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 88px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        max-width: 690px;
        margin-left: calc((100vw - 928px) / 2);
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        max-width: 690px;
        margin-left: calc((100vw - 984px) / 2);
        margin-top: 92px;
    }
}