.cover {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../../images/cover-trains.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    width: 100vw;
    justify-content: center;
    height: calc(100vw / 3.2 * 2);
    z-index: 0;
}