.cover__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
        max-width: 560px;
    }
}