.footer {
    background-color: #2a2c2f;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    flex-wrap: nowrap;
    align-content: center;
    max-width: calc(320px - 16px * 2);
    justify-content: center;
    margin: auto;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        max-width: 984px;
        margin-left: calc((100vw - 984px) / 2);
        margin-right: calc((100vw - 984px) / 2);
    }
}