.footer {
  background-color: #2a2c2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
